input{
        font-size: 25px;
        padding: 20px;
        border-radius: 10px;
}
.li_bl{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    display: flex;
}

.inp_class_light{
    font-size: 30px;
    color: white;
    background-color: lightgray;
    border: 0;
}

.inp_class_dark {
    font-size: 30px;
    color: white;
    background-color: darkblue;
    border: 0;
}

li{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

span{
    cursor: pointer;
    color: red;
}

.light_li{
    border: 1px solid #000;
    border-radius: 15px;
    padding: 20px;
    color: white;
    background-color: lightgray;
}
.dark_li{
    border: 1px solid #000;
    border-radius: 15px;
    padding: 20px;
    color: white;
    background-color: darkblue;
}